@media (max-width: 991px) {

    nav {
        display: none;
    }

    .navigation__row {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding-left: 15px; 
        z-index: 1;   
        backdrop-filter: blur(5px);   
    }  
/* MAIN================================================ */

    .main__body {
        flex-wrap:wrap;
        justify-content: center;
    }

    .main__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main__card {
        justify-content: center;
        flex-wrap: nowrap;
        max-width: 55%;    
    }

     .main__text-weplan {
        padding: .6em 2.1em 7em .6em ;
    }
    
    .main__text-wemanage {
        padding: .6em 1.2em 7em .6em ;
    }
    
    .main__text-webuild {
        padding: .6em 2.2em 7em .6em ;
    }

    .main__mobile {
        flex-grow:1;
    }

    .main__subtitle {
        text-align: center;
    }

    .main__subject {
        text-align: center;
    }

    /* services =========================================]*/

    .services {
        margin-top: 60px;
    }

    .services__title {
        position: relative;
        padding: 0 0;
        margin: 0 0 1.5em 0;
        text-align: center;
    }
    
    .services__title::before {
        content: '';
        position: absolute;
        top:35px;
        left: 74px;
        width: 50px;
        height: 2px;
        background: #00A4E5;
    }

    .services__subtitle {
       text-align: center;
    }

    /* feedback==================================== */
    
    .feedback {
        margin-top: 0;
    }
    
    /* contact======================================= */

    .input-group__button {
        min-width: 250px;
    }

    /* footer
    =======================================================*/

    .part-logo__p {
        margin-bottom: .1em;
    }
    
    .part-logo__logo {
        margin-bottom: 0;
    }

    .footer__row {
        justify-content: center;
    }

    .footer__part-logo {
        padding: 0;
        margin-bottom: 1em;
    }

    .footer__center-main {
        margin-bottom: 1em;
    }

    .footer__center {
        flex-wrap: wrap;
    }

    .footer__inform {
        width: 21em;
    }
}

@media (max-width: 767px)  {

    nav {
        display: none;
    }

    .menu-btn {
        display: block;
    }

/* MAIN================================================ */

    .main__body {
        flex-wrap:wrap;
        justify-content: center;
    }

    .main__text {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main__card {
        justify-content: center;
        flex-wrap: nowrap;
        max-width: 55%;    
    }

     .main__text-weplan {
        padding: .6em 2.1em 7em .6em ;
    }
    
    .main__text-wemanage {
        padding: .6em 1.2em 7em .6em ;
    }
    
    .main__text-webuild {
        padding: .6em 2.2em 7em .6em ;
    }

    .main__mobile {
        flex-grow:1;
    }

    .main__subtitle {
        text-align: center;
    }

    .main__subject {
        text-align: center;
    }

    /* services =========================================]*/

    .container {
        max-width: 80%;
    }

    .services__card {
        margin-right: 0;
        margin-left: 0;
    }

    .services {
        margin-top: 60px;
    }

    .services__title {
        position: relative;
        padding: 0 0;
        margin: 0 0 1.5em 0;
        text-align: center;
    }
    
    .services__title::before {
        content: '';
        position: absolute;
        top:35px;
        left: 74px;
        width: 50px;
        height: 2px;
        background: #00A4E5;
    }

    .services__subtitle {
       text-align: center;
    }

    /* feedback==================================== */
    .feedback {
        margin-top: 0;
    }

    /* contact======================================= */

    .input-group__button {
        min-width: 250px;
    }

    /* footer
    =======================================================*/

    .part-logo__p {
        margin-bottom: .1em;
    }
    
    .part-logo__logo {
        margin-bottom: 0;
    }

    .footer__row {
        justify-content: center;
    }

    .footer__part-logo {
        padding: 0;
        margin-bottom: 1em;
    }

    .footer__center-main {
        margin-bottom: 1em;
    }

    .footer__center {
        flex-wrap: wrap;
    }

    .footer__inform {
        width: 21em;
    }
}

@media (max-width: 479px) {

    /* main 
    ==================================*/
    .main__text-weplan {
        padding: .6em 2.1em 7em .6em ;
    }
    
    .main__text-wemanage {
        padding: .6em 1.2em 7em .6em ;
    }
    
    .main__text-webuild {
        padding: .6em 2.2em 7em .6em ;
    }

    /* footer 
    ====================================*/

    .footer__row {
        justify-content: flex-start;
    }

    .link-icon {
        margin: .5em 0;
    }
    
    .footer__link {
        margin: .5em auto;
    }    

    .copyright {
        padding-top: 0;
    }
} 


/* @media (orientation: landscape) {
    body {
      flex-direction: row;
    } */
  
